@use "@material/theme" with (
  $primary: #ff8552,
  $secondary: #ff7438,
  $on-primary: #e9ebec,
  $on-secondary: #e9ebec
);


@use "@material/button/styles" as bs;
@use '@material/switch/styles' as ss;

@use "@material/dialog";

@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";


@include dialog.core-styles;
@include textfield.core-styles;
